:root {
  --primary_color: #5c3766;
  --primary_color_light: #6e66d686;
  --black: rgb(79, 79, 79);
  --white: #f1f1f1;
  --robcon: "Roboto Condensed", sans-serif;
  --trans: 0.5s;
  --ashtxt: #a4a4a4;
}
/* common css start */
body {
  background-color: var(--white);
  font-family: var(--robcon);
}
/* common css end */

/* theme btn start */
.theme-btn {
  background-color: var(--primary_color) !important;
  position: fixed;
  right: 20px;
  top: 80px;
}
.theme-changed {
  --black: #f1f1f1;
  --white: rgb(79, 79, 79);
  --primary_color: #da53ff;
}
/* theme btn end */

/* modal start */
.modal {
  overflow-y: visible !important;
  background-color: var(--white) !important;
}
.modal-footer {
  overflow-x: initial !important;
  background-color: var(--white) !important;
}
.modal-content {
  margin-bottom: 0 !important;
  padding-bottom: 60px !important;
}
.input-field {
  padding: 15px 0;
}
.modal-inputs {
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}
.input-name {
  transition: var(--trans) !important;
  -webkit-transition: var(--trans) !important;
  -moz-transition: var(--trans) !important;
  -ms-transition: var(--trans) !important;
  -o-transition: var(--trans) !important;
}
.input-name-color-change {
  color: var(--primary_color) !important;
}

.modal-inputs:focus {
  border-bottom: 1px solid var(--primary_color) !important;
  box-shadow: 0 1px 0 0 var(--primary_color) !important;
}
/* modal end */

/* navbar start */
nav {
  background-color: var(--white);
  color: var(--black);
}
.navbar-logo {
  font-weight: 700;
  color: var(--primary_color) !important;
}
.nav-items {
  position: relative;
  color: var(--black) !important;
  font-weight: 600 !important;
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}
.nav-items::after {
  position: absolute;
  content: "";
  bottom: -2px;
  right: 0px;
  height: 2px;
  width: 0;
  background-color: var(--primary_color);
  transition: var(--trans);
  -webkit-transition: var(--trans);
  -moz-transition: var(--trans);
  -ms-transition: var(--trans);
  -o-transition: var(--trans);
}
.nav-items:hover::after {
  width: 100%;
}
.nav-items:hover {
  background-color: transparent !important;
  color: var(--primary_color) !important;
}
.navbar-dropdown {
  background-color: var(--white) !important;
}

.navbar-contact-btn {
  background-color: var(--primary_color);
  color: var(--white) !important;
  font-family: var(--robcon);
  font-weight: 700;
}
.navbar-contact-btn:focus {
  background-color: var(--primary_color) !important;
}
.navbar-contact-btn:hover {
  background-color: var(--primary_color_light);
}
.navbar-dropdown-icon {
  color: var(--primary_color);
}
.navbar-contact-btn-mobile-wrapper {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.navbar-sm {
  background-color: var(--white);
}
/* navbar end */

/* banner start  */

.banner-txt {
  width: 100%;
  margin: auto 0;
}
.banner-heading {
  font-weight: bold;
  color: var(--primary_color);
}
.banner-para {
  color: var(--ashtxt);
}
.banner-btn {
  display: flex;
  column-gap: 15px;
  padding: 10px 0 0 0;
}
.banner-readmore-btn {
  background-color: var(--white) !important;
  color: var(--primary_color) !important;
  border: 1px solid var(--primary_color) !important;
}
.banner-img-wrapper {
  padding: 50px 0;
}
.banner-img {
  width: 100%;
  height: auto;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/* banner end */

/* media query start */
@media (min-width: 250px) and (max-width: 600px) {
  /* banner start */
  #home {
    padding: 0 0;
  }
  .banner-heading {
    font-size: 35px;
    margin-top: 0 !important;
  }
  .banner-txt {
    padding-top: 30px;
  }

  /* banner end */
  /* theme btn start */
  .theme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px !important;
    height: 35px !important;
    font-size: 16px !important;
  }
  /* theme btn end */
}
@media (min-width: 601px) and (max-width: 767px) {
  #home {
    padding: 0 0;
  }
  .banner-heading {
    font-size: 35px;
  }
  .banner-txt {
    padding-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  /* banner start */
  #home {
    padding: 0px 0;
  }
  .banner-heading {
    font-size: 40px;
  }
  .banner-txt {
    padding-top: 35px;
  }

  /* banner end */
}

@media (min-width: 992px) and (max-width: 1200px) {
  #home {
    padding: 0px 0;
  }
  .banner-heading {
    font-size: 40px;
  }
  .banner-txt {
    padding-top: 45px;
  }

  /* banner end */
}

@media (min-width: 1200px) and (max-width: 1400px) {
  /* banner start */
  .banner-txt {
    padding-top: 20px;
  }

  /* banner end */
}

@media (min-width: 1400px) {
}
/* media query end */
